.oxlintrc.json   @sriramveeraghanta
.oxfmtrc.json   @sriramveeraghanta
1-main/backend/           @dheeru0198 @pablohashescobar
1-main/frontend/           @sriramveeraghanta
1-main/space/         @sriramveeraghanta
2-admin/admin/         @sriramveeraghanta
1-main/live/          @saivallampati
deployments/        @mguptahub